<div id="kanban">

</div>


<!-- Modal -->
<div class="modal" *ngIf="showModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addTicketOrUpdateTicket()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="newTicket.originalTitle" name="titleInput">
          </div>
          <div class="form-group">
            <label for="deal-status">Deal Status</label>
            <select class="form-control" id="deal-status" [(ngModel)]="newTicket.columnId" name="dealStatus">
              <option *ngFor="let item of columns" value="{{item.id}}">{{item.title}}</option>
            </select>
          </div>


          <div class="custom-file mb-2">
            <input class="custom-file-input" type="file" id="customFile" (change)="onImageSelected($event)" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </form>
        <div *ngIf="whichModal !== 'add'">
          <button class="btn btn-danger" (click)="removeTicket()"
                  [disabled]="deleteClicked">
            Delete
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="addClicked" (click)="addTicketOrUpdateTicket()">Save</button>
      </div>
    </div>
  </div>
</div>

